<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>打刻アプリ</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    </head>
    <body>
        <h1>打刻アプリ</h1>
        <form action="/"method="POST">
            <button id="start_btn"type="submit"name="stamp_value"value="start">出勤</button>    
        </form>
        <form action="/"method="POST">
            <button id="end_btn"type="submit"name="stamp_value"value="end"class="end_button">退勤</button>
        </form>
        <form action="/"method="POST">
            <button id="break_btn"type="submit"name="stamp_value"value="break"class="break-button">中断</button>
        </form>
        <form action="/"method="POST">
            <button id="restart_btn"type="submit"name="stamp_value"value="restart"class="restart-button">再開</button>
        </form>
        <script type="text/javascript" src="static/js/index.js"></script>
    </body>
</html>