button {
    width: 50%;
    height:3em;
    font-size: 150%;
    font-weight: bold;
    background: yellow;
    cursor:pointer; 
    margin-bottom: 50px;
  }

.wrapper {
  text-align: center;
}

button:hover {
    opacity: 0.4;
  }

#end_btn {
    background: yellow;
  }

#break_btn {
    background: lightgreen;
  }

#restart_btn {
    background: lightgreen;
  }

#cancel_btn {
  background: lightblue;
}

#download_btn {
  background: lightgray;
  margin-top: 100px;

}

#flash-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 128, 255, 0.8);
  color: white;
  padding: 15px;
  border-radius: 5px;
  display: none; 
  opacity: 1;
  transition: opacity 0.5s;
}