button {
    width: 10em;
    height:3em;
    font-size: 150%;
    font-weight: bold;
    background: yellow;
  }

  .break-button {
    width: 10em;
    height:3em;
    font-size: 150%;
    font-weight: bold;
    background: lightgreen;
    position: relative;
    right: 487px;
    top:110px;
  }