button {
    width: 10em;
    height:3em;
    font-size: 150%;
    font-weight: bold;
    background: yellow;
    cursor:pointer;
  }

button:hover{
    opacity: 0.4;
  }

.end_button{
    background: yellow;
    position: relative;
    /* left: 280px;
    bottom: 72px; */
  }

.break-button {
    background: lightgreen
  }

.restart-button {
    background: lightgreen;
    position: relative;
    /* bottom: 72px;
    left: 280px; */
  }

.cancel-button {
  background: lightblue;
  position: relative;
  /* left: 145px; */
}